<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD OPERATION</title>
    <link rel="stylesheet" href="{% static 'enroll/CSS/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
    <h2 class="alert alert-danger text-center">Function based view ModelForm CRUD operation</h2>
    {% block content %}{% endblock content %}
    
    </div>


    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/proper.js' %}"></script>
    <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>